repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0 # Use the ref you want to point at
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: pretty-format-json
        args:
          - "--no-sort-keys"
      - id: mixed-line-ending

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
        args:
          - "--args=--ignore-module=./terraform/modules/codebuild_monitoring"
          - "--args=--module"
          - "--args=--force"
          - "--args=--config=__GIT_WORKING_DIR__/.tflint.hcl"
          - "--args=--disable-rule=aws_lambda_function_deprecated_runtime"
      - id: terraform_validate
      - id: terraform_tfsec
        args:
          - "--args"
          - "--exclude-downloaded-modules"

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint

  - repo: local
    hooks:
      - id: check-json-files
        name: Check validity of JSON files and templates
        entry: scripts/check_json_files.sh
        language: script

  - repo: https://github.com/ansible/ansible-lint.git
    rev: v25.11.0
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$
