export TF_VAR_integration_next_access_key=""
export TF_VAR_integration_next_secret_key=""
export TF_VAR_integration_baseline_access_key=""
export TF_VAR_integration_baseline_secret_key=""


# We need to get these params by calling sts-assume role
export TF_VAR_preprod_access_key=""
export TF_VAR_preprod_secret_key=""
export TF_VAR_preprod_session_token=""
